<p id="notice"><%= notice %></p>

<p>
  <strong>Stem:</strong>
  <%= @question_stem.stem %>
</p>

<%= link_to 'Edit', edit_question_stem_path(@question_stem) %> |
<%= link_to 'Back', question_stems_path %>
