<div class="jumbotron">
<center>
	<h3>The major players in Type I hypersensitivity are:</h3>
	<br>
	<table>
		<tr><td><h4>Objective: &nbsp;</h4></td><td><select><option value="test1">Test 1</option>
  													<option value="test2">Test 2</option>
  													<option value="test3">Test 3</option>
  													<option value="test4">Test 4</option></select></td></tr>
		<tr><td><h4>Strength:</h4></td><td>1-5</td></tr>
	</table>
  <br><br>
  <p><a class="btn btn-primary btn-lg" role="button">Submit!</a></p>
</center>
</div>